.App {
  text-align: center;
}

.joke {
  background-color: white;
  border: 2px solid gray;
  width: 50vw;
  min-width: 300px;
  max-width: 748px;
  margin: 1rem auto;
  border-radius: 0px 4rem 4rem 4rem;
}

.setup {
  width: auto;
  padding: 0 2rem;
}

.reveal {
  width: 50%;
  min-width: 240px;
  margin: 0 auto 2rem;
  border: 2px dotted blue;
  cursor: pointer;
}

.hint {
  visibility: visible;
}

.punchline {
  color: blue;
  margin: -2rem auto 1rem;
  visibility: hidden;
}

.reveal:hover {
  border: 2px dotted white;
}

.reveal:hover .hint {
  visibility: hidden;
}

.reveal:hover .punchline {
  border: none;
  visibility: visible;
}