.App {
  text-align: center;
}

.joke {
  background-color: white;
  border: 2px solid gray;
  width: 50vw;
  min-width: 432px;
  margin: 16px auto;
  padding: 16px;
  border-radius: 0px 32px 32px 32px;
  animation: cubic-bezier(1, 0, 0, 1);
}
