.App {
  text-align: center;
}

.joke {
  background-color: white;
  border: 2px solid gray;
  width: 50vw;
  min-width: 432px;
  margin: 16px auto;
  padding: 16px;
  border-radius: 0px 32px 32px 32px;
}

.reveal {
  width: 50%;
  min-width: 384px;
  margin: auto;
  border: 2px dotted blue;
  cursor: pointer;
}

.hint {
  visibility: visible;
}

.punchline {
  color: white;
}

.reveal:hover {
  border: 2px dotted white;
}

.reveal:hover .hint {
  visibility: hidden;
}

.reveal:hover .punchline {
  color: blue;
  border: none;
}